@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

.login {
  margin: 25%;
  height: 30vh;
  width: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  background-color: rgb(164, 158, 170);
  color: darkblue;

  input {
    padding: 15px;
  }

  button {
    display: block;
    margin: 5px auto; /* Centers horizontally */
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 2px 5px;
  }
}
